.venv

settings-me.yaml

.ruff_cache
.pytest_cache
.mypy_cache

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# unit tests / coverage reports
/tests-results.xml
/.coverage
/coverage.xml
/htmlcov/

# pyenv
/.python-version

# IDE
.idea/
.vscode/
/.run/
.fleet/

# macOS
.DS_Store
local_data
local_data_
Local_Data
pyproject (copy).toml
.venv__
settings_copy.yaml
